@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
    font-weight: 500;
    font-style: normal;
}

.header {
background-image: url("images/header.png");
height: 100vh;
width: 100% ;
background-size: cover;
display: flex;
}

.upper-bar {
    padding: 24px 130px;
    /* width: 4000px; */
    width: 2000px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-content: center;
}

.logo{
    color: white;
    cursor: pointer;
    font-size: 60px;
    text-align: center;
    align-self: center;
 }


.nav-bar{
    display: flex;
    align-items: center;
}

.nav-bar ul li{
list-style: none;
display: inline;
margin: 0 20px;

}

.nav-bar ul li a{
text-decoration: none;
color: white;
font-size: 20px;
margin: 0 10px;
}

.nav-bar ul li button{
background-color: white;
width: 141px;
height: 65px;
border-radius: 10px;
color: blue;
border: none;
font-size: 24px;
line-height: 36px;
}
.banner{
color: white;
width: 100%;
position: absolute;
text-align: center;
top: 50%;
transform: translateY(-50%);
}
.banner-header{
margin-top: 80px;
/* padding-inline: 250px; */
padding-inline: 18%;
font-size: 4vw;
line-height: 96px;
}
.banner-text{
margin-top: 30px;
/* padding-inline: 300px; */
padding-inline: 15vw;
font-size: 2vw;
line-height: 200%;
}

.trip-info{
    /* transform: translateY(-60%); */
    /* width: 1180px; */
    margin: 70px;
    margin-top: -11vw;

}
.trip-buttons{
    display: flex;
    background-color: white;
    width: 279px;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-bottom: -5px;
}

.trip-buttons button{
    padding: 15px 20px;
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    margin: 6px 7px;
    display: flex;
    height: 66px;
    width: 121px;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.trip-buttons .flight{
    background-color: rgba(62, 134, 245, 0.2);
}

.trip-details{
    /* width: 1180px;
    height: 274px; */
    width: 90vw;
    height: auto;
    /* width: 150vh;
    height: 30vh; */
    background-color: white;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.destination .leaving-going{
    display: flex;
    flex-direction: column;
}

.destination .airplane{
    border: 1px dashed rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
}
.destination .leaving-going label{
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.5);
    }

.destination .leaving-going span{
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    }

.trip-details form{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 381px;
    height: 154px;
    border: 2px solid rgb(154, 149, 149);
    border-radius: 20px;
}

.trip-details form .whole-leave .leave{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 27px;
}

.trip-details form .whole-leave .date{
    font-size: 24px;
    line-height: 36px;
    }



.trip-details form .whole-leave img{
    transform: rotate(45deg);
    width: 30%;
    height: auto;
}

.trip-details .Date{
    width: 477.26px;
    height: 154px;
}

.trip-details .Date .Planner{
    border: 1px dashed rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 5px;
}

.trip-details form .whole-return img{
    transform: rotate(-135deg);
    width: 30%;
    height: auto;
}

.trip-details form .whole-return .return{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    line-height: 27px;

}
.trip-details form .whole-return .date{
    font-weight: 500;
font-size: 24px;
line-height: 36px;
}

.search-button {
    background-color: rgba(62, 134, 245, 0.8);
    width: 154px;
    height: 154px;
    border-radius: 65px;
    border: none;
  }


.search-button img{
    display: flex;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.upcomming-offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upcomming-offers h1{
    margin: 40px;
    font-size: 48px;
    line-height: 72px;
}

.upcomming-offers .destination-type{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 340px;
    height: 66px;
    border-radius: 13px;
    margin-bottom: 20px;
    margin-top: 40px;
}   

.upcomming-offers .destination-type a{ 
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 46px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcomming-offers .destination-type .blue-div{
    background-color:  #3E86F5;
    border-radius: 15px;
    color: white;
}

.upcomming-offers .destinations{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.upcomming-offers .destinations .destination-container{
    background-color: white;
    display: flex;
    justify-content: start;
    height: 457px;
    width: 380px;
    flex-direction: column;
    border-radius: 50px;
    margin: 20px;
}

.upcomming-offers .destinations .destination-container .image-date img{
    height: 273px;
    width: 293px;
    margin: 20px;
}

.upcomming-offers .destinations .destination-container .image-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
  
.upcomming-offers .destinations .destination-container .image-date span{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.5em;
    color: rgba(0, 0, 0, 0.5);
}

.upcomming-offers .destinations .destination-container main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.upcomming-offers .destinations .destination-container main .left-part{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.upcomming-offers .destinations .destination-container main .left-part h1{
    padding: 0% 1%;
    font-size: 24px;
    line-height: 36px;
    margin: 10px 20px;
}

.upcomming-offers .destinations .destination-container .general-info .left-part .type-duration{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 1%;
}

.upcomming-offers .destinations .destination-container .general-info .left-part .type-duration .type{
    font-size: 14px;
    line-height: 21px;
    background: #FCDDEC;
    border-radius: 100px;
    padding: 2px 17px;
    color: #F178B6;
    text-align: center;

}
.upcomming-offers .destinations .destination-container .general-info .left-part .type-duration .type2{
    font-size: 14px;
    line-height: 21px;
    background: #F1F1FD;
    border-radius: 100px;
    color: #7879F1;
    padding: 5px 10px;
    text-align: center;
}

.upcomming-offers .destinations .destination-container .general-info .left-part p{
    font-size: 24px;
    line-height: 36px;
}

.upcomming-offers .destinations .destination-container .general-info .left-part p span{
    font-size: 20px;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.5);
}

.upcomming-offers .destinations .destination-container .general-info .left-part .price-book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 290px;
}

.upcomming-offers .destinations .destination-container .general-info .left-part .type-duration .duration{
    padding: 2px 10px;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.upcomming-offers .destinations .destination-container .general-info button{
    width: 107px;
    height: 47px;
    background: #F2F6FF;
    border-radius: 10px;
    border: 0;
    color: #3E86F5;
}

.upcomming-offers .destinations .destination-container .general-info .left-part h1{
    margin-left: 0px;
}

.generalinfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 100px;
    flex-wrap: wrap;
    
}

.generalinfo .right-image{
    position: relative;
}

.generalinfo .right-image span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 120px;
    width: 180px;
    border-radius: 26px;
    position: absolute;
}

.generalinfo .right-image span .p1{
    font-size: 36px;
    line-height: 54px;
    color: #3E86F5;
}

.generalinfo .right-image span .p2{
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    margin-top: -10px;
} 

.generalinfo .right-image .first{
    bottom: 600px;
    right: -85px;
}

.generalinfo .right-image .second{
    position: absolute;
    bottom: 300px;
    left: -90px;
}

.generalinfo .right-image .third{
    position: absolute;
    bottom: 150px;
    right: -85px;
}

.generalinfo .left-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 100px;
    height: 700px;
    width: 500px;
}

.generalinfo .left-text h1{
    font-size: 3vw;
line-height: 5vw;
}

.generalinfo .left-text p{
    font-weight: 300;
    font-size: 1.34vw;
    line-height: 3vw;
    color: rgba(0, 0, 0, 0.5);
}

.generalinfo .left-text button{
    width: 179px;
    height: 75px;
    border: none;
    background: #3E86F5;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.recomended-dest{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    align-items: center;
    height: 600px;

}

.recomended-dest h1{
    font-size: 48px;
    line-height: 72px;
}

.recomended-dest .destination-type{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 340px;
    height: 66px;
    border-radius: 13px;
}

.recomended-dest .destination-type a{ 
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 46px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}

.recomended-dest .destination-type .blue-div{
    background-color: white;
    color:rgba(62, 134, 245, 0.8)
    
}

.recomended-dest .containers{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

.recomended-dest .containers .dest-container{
    background-color: white;
    height: 293px;
    width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.recomended-dest .containers .dest-container .main-photo{
    height: 200px;
    width: 260px;
}

.recomended-dest .containers .dest-container .rating{
    position: relative;
    width: 55px;
    height: 20px;   
    border-radius: 25px;
    bottom: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    gap: 4px;
}

.recomended-dest .containers .dest-container .info{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    top: 7%;
    left: 8%;
    transform: translate(-50%, -50%);
}

.recomended-dest .containers .dest-container .info .main{
    width: 133px;
    height: 27px;
    font-size: 18px;
    line-height: 27px;
}

.recomended-dest .containers .dest-container .info .location{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recomended-dest .containers .dest-container .info .location p{
    width: 76px;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.5);
}

.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vw 10vw;
    /* gap: 20vw; */
}

.page .comments{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130vw;
    height: auto;
    flex-wrap: wrap;
    /* margin: 5vw; */
}

.page .comments .comment-container{
    width: 580px;
    height: 410px;
    background-color: white;
    margin: 5vw;
    border-radius: 38px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page .comments .comment-container .background{
    z-index: 1;
    position: relative;
    top: 27%;
    left: 10%;
    transform: translate(-50%, -50%);
}
.page .comments .comment-container p{
    width: 508px;
    height: 167px;
    font-size: 20px;
    line-height: 42px;
    text-align: center
}

.page .comments .comment-container .author{
    width: 86px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    color: #3E86F5;
}

.page .comments .comment-container .title{
    width: 134px;
    height: 42px; 
    font-size: 20px;
    line-height: 42px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.page .comments .comment-container .oval{
    width: 179.5px;
    height: 134px;
    position: relative;
    top: 18%;
    left: 16%;
    transform: translate(-50%, -50%);
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 60%;
}

.page .comments .comment-container .oval .rating{
    position: relative;
    width: 45px;
    height: 20px;
    border-radius: 25px;
    top: 35%;
    left: 75%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    gap: 4px;
}

.page .comments .comment-container .oval .comm-img{
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page .buttons{
    display: flex;
    align-items: center;
}

.page .buttons button{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 2px solid rgba(62, 134, 245, 0.5);
    border-radius: 15px;
    margin: 10px;
}

.page .buttons button img{
    padding: auto;
}

.page .buttons button .reversed{
    transform: rotate(180deg);
}

.discount{
    background-image: url("images/earth.png");
    width: 85vw;
    height: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    background-size: cover;
}

.discount h1{
    width: 50vw;
    height: auto;
    color: #FFFFFF;
    font-size: 3vw;
    line-height: 4.5vw;
    text-align: center;
    margin-bottom: 1vw;
    /* margin-bottom: 20px; */
}

.discount button{
    width: 220px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 25px;
    font-size: 20px;
    line-height: 30px;
    color: #3E86F5;
    }

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .links{
    display: flex;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    margin-right: 150px;
}

footer .links a{
    font-size: 1.7vw;
    line-height: 36px;
    text-decoration: none;
    margin: 2vw;
    color: rgba(0, 0, 0, 0.75)
    }

footer p{
    margin-left: 150px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5vw;
    line-height: 1vw;
}

